<div class="widget-controls">
  <p-dropdown
    class="dropdown-controls"
    [options]="(widgetTypes$ | async) ?? []"
    optionLabel="title"
    optionValue="value"
    [(ngModel)]="selectedWidgetType"
    [filter]="true"
    placeholder="Please Select"
  ></p-dropdown>
  <button (click)="addWidget()" class="btn">Add Widget</button>
  <button (click)="saveLayout()" class="btn-save">Save</button>
</div>

<div class="chart-widgets-container">
  <ng-container *ngFor="let type of WidgetType | keyvalue">
    <generic-chart-widget
      *ngIf="widgetVisibility[type.value]"
      [widgetTitle]="getWidgetTitle(type.value)"
      [chartType]="getChartType(type.value)"
      [chartData]="getChartData(type.value) | async"
      (remove)="removeWidget(type.value)"
    ></generic-chart-widget>
  </ng-container>
</div>
