<div class="widget-controls">
  <button (click)="addWidget('Chart')" class="btn">Add Bar Chart Widget</button>
  <button (click)="addWidget('Time')" class="btn">
    Add Time Series Widget
  </button>
  <button (click)="saveLayout()" class="btn-save">Save</button>
</div>
<div *ngIf="showBarChartWidget">
  <bar-chart-widget
    [isRemoveBtnEnable]="isRemoveBtnEnable"
    (showChartWidget)="removeWidget('Chart')"
  ></bar-chart-widget>
</div>
<div *ngIf="showTimeSeriesWidget" class="padding-top-20px">
  <time-series-chart-widget
    [isRemoveBtnEnable]="isRemoveBtnEnable"
    (showTimeWidget)="removeWidget('Time')"
  ></time-series-chart-widget>
</div>
