<div class="widget-controls">
  <p-dropdown
    class="dropdown-controls"
    [options]="widgetTypeOptions"
    optionLabel="label"
    optionValue="value"
    [filter]="true"
    (onChange)="onTypeDropdownChange($event.value)"
    placeholder="Please Select"
  ></p-dropdown>
  <button (click)="addWidget()" class="btn">Add Widget</button>
  <button (click)="saveLayout()" class="btn-save">Save</button>
</div>

<div class="chart-widgets-container">
  <generic-chart-widget
    *ngIf="showOccupancyChartWidget"
    widgetTitle="Top 5 Room Types by Occupancy"
    [chartType]="ChartType.Bar"
    [chartData]="occupancyData"
    (remove)="removeWidget('Occupancy')"
  ></generic-chart-widget>

  <generic-chart-widget
    *ngIf="showCheckInChartWidget"
    widgetTitle="Check-in Count by Weekday"
    [chartType]="ChartType.Bar"
    [chartData]="checkInData"
    (remove)="removeWidget('CheckIn')"
  ></generic-chart-widget>

  <generic-chart-widget
    *ngIf="showTimeSeriesWidget"
    widgetTitle="Daily Check-ins over 14 Days"
    [chartType]="ChartType.Line"
    [chartData]="dailyCheckInData"
    (remove)="removeWidget('DailyCheckIn')"
  ></generic-chart-widget>
</div>
