<div class="chart-widget">
  <div class="widget-header">
    <span class="widget-title">Bar Chart</span>
    <button
      *ngIf="isRemoveBtnEnable"
      class="remove-btn"
      (click)="removeWidget()"
    >
      ✕
    </button>
  </div>
  <div class="dropdown-wrapper">
    <p-dropdown
      [options]="roomTypes"
      [filter]="true"
      (onChange)="onTypeDropdownChange($event.value)"
    />
  </div>
  <div>
    <chart-widget
      *ngIf="chartData"
      [chartData]="chartData"
      [chartType]="chartType"
      [chartOptions]="chartOptions"
    ></chart-widget>
  </div>
</div>
