<div class="dashboard-container">
  <header class="dashboard-header">
    <h1 class="main-title">Welcome to Straiv</h1>
    <p class="sub-title">Automatic Room Check-in/Check-out Dashboard</p>
  </header>

  <div class="dashboard-body">
    <nav class="dashboard-sidebar">
      <ul>
        @for (nav of navLinks; track $index) {
        <li>
          <a [href]="nav.href">{{ nav.title }}</a>
        </li>
        }
        <!-- <li *ngFor="let item of navLinks; let i = index; let last = last">
          {{ i + 1 }}. {{ item.title }} <span *ngIf="last">(This is the last item)</span>
        </li> -->
      </ul>
    </nav>

    <main class="dashboard-main">
      <div class="summary-cards">
        @for (metric of metrics(); track $index) {
        <div appHighlight class="card">
          <h3>{{ metric.title }}</h3>
          <p>{{ metric.value }}</p>
        </div>
        }
      </div>
      <ng-content></ng-content>
    </main>
  </div>
</div>
